*{outline: 1px solid rgba(255,0,0,0.2)}
img{
	max-width: 100%;
}
body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/*menu*/
.cont_menu{
	background: url("../img/background/hero.jpg") top no-repeat; 
	background-size: 100%;
	}
.capa{
	background-color: rgba(49, 52, 52, 0.6);
	padding: 1% 0% 0%;
}
.submenu{ 
	color: #fff;
	padding: 10px;
	}
.submenu:hover{
	text-decoration:none;
	color: #0A8FA0;
}
/*menu*/
/*contenido del launch*/
.cont_let_launch{
	margin: 14% 0%;
}
/*contenido del launch*/
/*lista del segundo row*/
.cuadrado{
	width: 22%;
	margin: 6% 5%;
	display: inline-block;
	vertical-align: top;
	color: #727272;
}
.cuadrado> a{
	text-decoration: none;
	color: #000;
}
.icono_grand{
	font-size: 50px;
}
/*lista del segundo row*/
/*imagen del 3 row*/
.font_blu{
	background: #E5E8EB;
}
/*imagen del 3 row*/
.font_negro{
	color: #000;
}
.font_blanc{
	color: #fff;
}
.pd_iz{
	padding-left: 10%;
}
.mg2{
	margin: 2% 0%;
}
.pb-3{
	padding-bottom: 3%;
}
.pd0{
	padding: 0%;
}
.pl-2{
	padding-left: 3%;
}
.back_plomo{
	background: #2D2D2D;
}
/*lista 4 row*/
.li_more{
	margin: 10% 0%;
	display: block;
	color: #727272;
}
.li_more> a{
	text-decoration: none;
	color: #000;
}
.pd_der{
	padding-right:7%;
	padding-left: 0%;
}
.icono{
	font-size: 30px;
}

/*lista 4 row*/
/*patty fin menulaunch head*/

/*Sara Portafolio */

/*inicio Portafoli*/
ul {
				list-style:none;
			}
			
			.menu{
				margin-left: 0px;
				padding-right: 0;


			}
			.navv > li {
				float:left;
				margin-top:40px;
				width:25%;
				text-align: center;
				
			}
			
			
			.navv li a {
				background-color:#1B2244;
				color:#EEECE1;
				text-decoration:none;
				padding:20px ;
				display:block;
			}
			
			.navv li a:hover {
				background-color:#434343;
			}
			
			.navv li ul {
				display:none;
				position:absolute;
				min-width:200px;
			}
			
			.navv li:hover > ul {
				display:block;
			}
			
			.navv li ul li {
				position:relative;
			}
			
			.navv li ul li ul {
				right:-140px;
				top:0px;
			}
/*fin Portafoli*/
/*Sara Portafolio */

/*Sara Call to action */
.call{
	/*background: url("../img/background/city.jpg");*/
	height: 400px;
	background-size: 100%; 
	background-repeat: no-repeat;
}
/*Sara Call to action 
/*patty*/
